.home {
  display:flex;
  justify-items: center;
  justify-content: center;
  width:800px;
  padding: 1rem;
  margin: 2rem auto;
  border: 1px solid rgb(193, 239, 247);
  border-radius: 7px;
  background-color: rgb(245, 231, 215);
  }
  
  .image {
    width: 50px;
    display: flex;
    flex: 1;
    justify-content: center;
  }
  
  img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .homeCard {
    flex: 1;
    padding: 0 1rem;
  }
  
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
  }
  
  .title:hover, 
  .price:hover{
    color: rgb(86, 148, 241);
    font-weight: bold;
  }
  
  .title p {
    font-size: 1.5rem;
  }
  
  .price {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: end;
    margin: 0;
  }
  
  .description, .availability span{
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .availability span{
    color: rgb(236, 178, 53);
    font-weight: bold;
    letter-spacing: 2px;
  }

  .availability p{
    color: rgb(86, 148, 241) ;
  }
  .counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
  .result {
    width: 40px;
    height: 40px;
    background-color: rgb(86, 148, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid  rgb(193, 239, 247);
    border-radius: 2px;
  }
  
  .result:hover {
    font-weight: bold;
    cursor: pointer;
    background: white;
    color:rgb(86, 148, 241)
  }